---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact - Dave Tauzell">
    <h1 class="cover-heading">Get in Touch</h1>
    <p class="lead">For booking, collaboration, or just to say hello</p>
    <p class="lead">
    <a href="mailto:dave@tauzell.org" class="btn btn-lg btn-secondary">dave@tauzell.org</a>
    </p>
</Layout>
