---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dave Tauzell - Musician">
    <h1 class="cover-heading">Latest Album "Trails"</h1>
    <p class="lead">Trails is my latest instrumental album featuring atmospheric compositions and melodic journeys.</p>
    <img src="/images/album_cover_trails_small.jpeg" alt="Trails Album Cover" class="album-cover-main" style="width: 200px; height: 200px; border-radius: 15px; margin-bottom: 2rem; box-shadow: 0 8px 25px rgba(47, 79, 47, 0.2); border: 2px solid rgba(139, 69, 19, 0.3); display: block; margin-left: auto; margin-right: auto;">
    <p class="lead">
    <a href="https://distrokid.com/hyperfollow/davetauzell/trails" class="btn btn-lg btn-secondary">Stream or Download</a>
    </p>
</Layout>
