---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dave Tauzell - Musician">
    <h1 class="cover-heading">Latest Album "Trails"</h1>
    <p class="lead">
        Trails is my latest instrumental album featuring atmospheric
        compositions and melodic journeys.
    </p>
    <img
        src="/images/album_cover_trails_small.jpeg"
        alt="Trails Album Cover"
        class="album-cover-main"
    />
    <p class="lead">
        <a
            href="https://distrokid.com/hyperfollow/davetauzell/trails"
            class="btn btn-lg btn-secondary">Stream or Download</a
        >
    </p>
</Layout>
